#number{

}

fieldset{
    border: 2px solid red;
}

legend{
    text-align: center;
}

textarea{
    width: 1000px;
    height: 50px;

}

*{
    border-radius: 5px;
    border: none;
}


#hideButton{
    width: 100px;
    background-color: rgb(202, 248, 233);
    
}

#cvOutput{
    border: 2px solid black;
    max-width: 600px;
    margin: auto;
    padding-top: 20px;
}